<footer>
  <div class="container-fluid mt-5 py-5 navbar-light bg-light pt-5" style="height: 300px;">
    <div class="row">
      <div class="col-md-4 text-center">
        <h5>Contact Us</h5>
        <p>Email: info@floratradehub.com</p>
        <p>Phone: +1 (123) 456-7890</p>
      </div>
      <div class="col-md-4 text-center">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Shop</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% comment %} <h2 class="text-center bg-black">copyright@3003</h2> {% endcomment %}
</footer>
